services:
  db:
    image: postgres:16
    container_name: lsf-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - lsf_pgdata:/var/lib/postgresql/data

volumes:
  lsf_pgdata:
